@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Poppins", ui-sans-serif, system-ui, -apple-system,
        BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
        "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol", "Noto Color Emoji";
}

@layer components {
    .custom-shadow {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    }

    .btn-submit {
        @apply w-full flex items-center justify-center gap-5 rounded-xl py-3 transition-colors;
        @apply bg-primary text-gray-100;
        @apply hover:bg-primary/90;
        @apply disabled:opacity-50 disabled:cursor-not-allowed disabled:hover:bg-primary;
    }

    .btn-custom {
        @apply flex gap-2 items-center px-4 py-3 rounded-lg text-sm leading-5 cursor-pointer;
        @apply transition-colors ease-in-out duration-150;
        @apply disabled:opacity-50 disabled:cursor-not-allowed;
    }

    .btn-cancel {
        @apply px-4 py-3 text-sm border border-gray-300 text-gray-700 cursor-pointer rounded-lg;
        @apply hover:bg-gray-100;
        @apply transition-colors ease-in-out duration-150;
        @apply hover:bg-gray-100;
        @apply disabled:opacity-50 disabled:cursor-not-allowed;
        @apply disabled:hover:bg-white;
    }

    .pulse-circle {
        @apply relative;
    }

    .pulse-circle::after {
        @apply content-[''] absolute inset-0 rounded-full;
        @apply bg-inherit;
        @apply animate-[pulse-out_1.5s_ease-out_infinite];
    }

    .spinner {
        @apply border-[3px] border-solid border-transparent;
        @apply border-t-current border-r-current;
        @apply rounded-full;
        @apply animate-[spin_0.6s_linear_infinite];
    }

    .custom-input {
        @apply border-b-2 border-solid border-[rgb(183,183,183)] bg-white;
        @apply pt-2 pr-3 pb-2 pl-0;
        @apply outline-none transition-all duration-[0.2s] ease-in-out;
        @apply focus:border-[#111827];
    }

    .skeleton {
        @apply relative overflow-hidden bg-[#e5e7eb];
    }

    .skeleton::after {
        @apply content-[''] absolute inset-0 -translate-x-full;

        background-image: linear-gradient(
            90deg,
            rgba(255, 255, 255, 0) 0,
            rgba(255, 255, 255, 0.2) 20%,
            rgba(255, 255, 255, 0.5) 60%,
            rgba(255, 255, 255, 0)
        );

        @apply animate-[shimmer_2s_infinite];
    }
}

@keyframes pulse-out {
    0% {
        transform: scale(1);
        opacity: 0.8;
    }
    100% {
        transform: scale(2.5);
        opacity: 0;
    }
}

@keyframes shimmer {
    100% {
        transform: translateX(100%);
    }
}
