.gradient-bg {
    background: linear-gradient(to bottom right, #2760e9, #173581);
}

.shadow-bottom{
    box-shadow: 0 1.5px 0 1px white;
}

.green-border{
    box-shadow: 0 1.5px 0 1px rgb(21, 245, 21);
}